body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #456f8b, #5e406a);
}
h1{
    display: flex;
    justify-content: center;
}
table{
    display: flex;
    justify-content: center;
}
input{
    background: linear-gradient(135deg, #4c4a63, #5b527a);
    color: #fafbfd;
    text-align: center;
    font-size: 18px;
}
.acess{
    
    width: 200px;
    background: linear-gradient(135deg, #4c4a63, #5b527a);
    color: #fafbfd;
    text-align: center;
    font-size: 20px;
    margin-top: 12px;
}
label{
    font-size: 18px;
    color: aliceblue;
}